{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Chatbot</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <div class="chat-window">
                    <div class="chat-header">
                        <img class="iconx1" src="https://img.icons8.com/fluency/48/null/doctors-bag.png" />
                        <span class="chat-title">Medical Chatbot using OpenAI by Space-O Technologies</span>
                        <img class="iconx2 after" src="https://img.icons8.com/fluency/48/null/doctors-bag.png" />
                        <br>
                        <span class="chat-title">Synthetic patient and population health data</span>
                    </div>
                    <div class="chat-history">
                        {% for message in chat_history %}
                        <div class="chat-message user">
                            <div class="img_box">
                                <img src="https://img.icons8.com/arcade/64/null/doctor-male.png" />
                            </div>
                            <div class="chat-message-content">
                                <p>{{ message.user }}</p>
                            </div>
                        </div>
                        <div class="chat-message bot">
                            <div class="img_box">
                                <img src="https://img.icons8.com/office/40/null/chatbot.png" />
                            </div>
                            <div class="chat-message-content">
                                <p>{{ message.bot }}</p>
                                {% for i in message.find %}
                                <p> > {% if i.date %}On {{ i.date.date }}{% endif %}
                                    {% if i.start.date %}from {{ i.start.date }}{% elif i.start %}from {{ i.start }}{% endif %}
                                    {% if i.stop.date %}to {{ i.stop.date }}{% elif i.stop %}to {{ i.stop }}{% endif %}
                                    {% if i.description %} {{ i.description }},{% endif %}
                                    {% if i.code %}code {{ i.code }} {% endif %}
                                    {% if i.body_site_code %}for {{ i.body_site_description }}, code {{ i.body_site_code }}{% endif %}
                                    {% if i.reason_code %}for {{ i.reason_description }}, code {{ i.reason_code }}{% endif %}
                                    {% if i.modality_code %}Modality {{ i.modality_description }}, code {{ i.modality_code }}{% endif %}
                                    {% if i.sop_code %}Sop {{ i.sop_description }}, code {{ i.sop_code }}{% endif %}
                                    {% if i.value %}Result {{ i.value }} {{ i.units }}{% endif %}
                                </p>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- Add more chat messages here as needed -->
                        {% endfor %}
                    </div>
                    <form class="chat-input" method="post">
                        {% csrf_token %}
                        <input type="text" placeholder="Type your message here..." name="text" id="text">
                        <input type="hidden" id="myInput" name="myInput">
                        <button>Send</button>
                    </form>
                </div>
            </div>
            <div class="col-4">
                <div class="container">
                    <div class="row">
                        <a href="{% url 'index' %}" role="button">
                            <img src="https://img.icons8.com/ios/50/null/unlock-private.png" alt="Unlock icon">
                        </a>
                    </div>
                    <hr>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="card card1">
                                <div class="card-body">
                                    <h4 class="card-title">Patient Information</h4>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><strong>Patient Name:</strong> {{ patient.0.prefix }} {{ patient.0.first }} {{ patient.0.last }}</li>
                                        <li class="list-group-item"><strong>Gender:</strong> {{ patient.0.gender }}</li>
                                        <li class="list-group-item"><strong>SSN:</strong> {{ patient.0.ssn }}</li>
                                        <li class="list-group-item"><strong>Race:</strong> {{ patient.0.race }}</li>
                                        <li class="list-group-item"><strong>DOB:</strong> {{ patient.0.birthdate }}</li>
                                        <li class="list-group-item"><strong>Address:</strong> {{ patient.0.address }}</li>
                                        <li class="list-group-item"><strong>City:</strong> {{ patient.0.city }}</li>
                                        <li class="list-group-item"><strong>County:</strong> {{ patient.0.county }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h6 id="uuid" style="display: none;">{{ ans.0.uuid }}</h6>
    <script>
        document.getElementById("myInput").value = document.getElementById("uuid").textContent;
        function scrollToBottom() {
            var chatHistory = document.querySelector('.chat-history');
            chatHistory.scrollTop = chatHistory.scrollHeight - chatHistory.clientHeight;
        }
        window.addEventListener('load', scrollToBottom);
    </script>
</body>

</html>